:root {
  --color-morado-azul: 76 41 145;
  --color-morado: 134 45 163;
  --color-morado-claro: 193 53 158;
  --color-rosa: 242 122 158;
  --color-salmon: 250 122 121;
  --color-salmon-claro: 247 169 123;

  font-family: 'estandar', sans-serif;
}

@font-face {
  font-family: 'miFuenteCoco';
  src: url('Comic_Relief/ComicRelief-Regular.ttf');
}

@font-face {
  font-family: 'estandar';
  src: url(fuentes/fuenteComun/Quicksand-VariableFont_wght.ttf)
    format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;

  /* Estilos para la barra de scroll */
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-salmon-claro) / 0.8) transparent;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100dvh;
}

body {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(
    135deg,
    rgb(var(--color-morado-azul) / 0.5),
    rgb(var(--color-rosa) / 0.5),
    rgb(var(--color-salmon-claro) / 0.5)
  );

  background-size: 200%;
  animation: animarGradiente 15s ease infinite alternate;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}

header {
  background-color: rgba(240, 248, 255, 0.517);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex: 2;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); /* Aplica desenfoque */
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

main {
  width: 80%;
  flex: 8;
  padding: 1.5rem;
  background-color: aliceblue;
  border-radius: 5px;
}

footer {
  background-color: aliceblue;
  width: 100%;
  flex: 2;

  & > nav {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;

    & > a {
      margin: 0.5rem;
      padding: 0.5rem;
      color: rgb(var(--color-morado-azul));
    }
  }

  & > p {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(var(--color-morado-azul));
    padding-bottom: 0.7rem;
  }
}

.cocoChanel {
  font-family: miFuenteCoco;
  color: rgb(var(--color-morado-azul) / 0.5);
  font-size: 18px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  &.navegacion1 {
    width: 70%;
  }

  &.navegacion2 {
    width: 10%;
    gap: 1rem;
  }
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;

  border: 2.3px solid rgb(var(--color-morado-azul));
  border-radius: 25px;
  padding: 5px;
  padding-inline: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgb(var(--color-morado-azul) / 0.5),
    0px 0px 15px rgb(var(--color-rosa) / 0.5);

  &:active {
    color: rgb(255, 255, 255);
  }

  svg {
    width: 25px;
    height: 25px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      150deg,
      rgb(var(--color-morado-azul) / 0.5) 30%,
      rgb(var(--color-rosa) / 0.5),
      rgb(var(--color-salmon-claro) / 0.5)
    );
    border-radius: 50% 50% 0 0;
  }

  &:hover::before {
    transition: height 0.4s ease;
    height: 150%;
  }
}

.enlaceLogo {
  border: none;
  overflow: visible;
  box-shadow: none;

  &:hover::before {
    height: 0;
  }

  > img {
    height: 50px;
    width: 50px;
    scale: 1.5;
    position: relative;
    top: 0.5rem;
  }
}
