main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'fotos fotos fotos'
    'info info ofertas'
    'promos promos ofertas';
}

#informacion {
  grid-area: info;
}

#promociones {
  grid-area: promos;
}

aside {
  grid-area: ofertas;
}

iframe {
  border: none;
  height: 300px;
  width: auto;
}

/* Estilos de las fotos */
.cards {
  grid-area: fotos;

  > img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    opacity: 0.6;
    filter: none; /* Para eliminar los filtros */
    transition: opacity, filter, scale 0.15s ease-in;

    &:hover {
      opacity: 1;
      scale: 1.02;
      transition: opacity, scale 0.2s ease-in;
    }
  }

  &:has(img:hover) > img:not(:hover) {
    filter: grayscale(1);
    scale: 0.98;
    transition: filter, scale 0.2s ease-in;
  }
}
