main {
  display: grid;
  justify-items: center;

  grid-template-rows: 240px auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'fotos fotos fotos'
    'info info ofertas'
    'promos promos ofertas';
}

#informacion {
  grid-area: info;
}

#promociones {
  grid-area: promos;
}

aside {
  grid-area: ofertas;
  margin-left: 10px;
}

iframe {
  border: none;
  height: 300px;
  width: auto;
}

/* Estilos de las fotos */
.cards {
  grid-area: fotos;

  > img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    opacity: 0.6;
    filter: none; /* Para eliminar los filtros */
    transition: opacity, filter, scale 0.15s ease-in;

    &:hover {
      opacity: 1;
      scale: 1.02;
      transition: opacity, scale 0.2s ease-in;
    }
  }

  &:has(img:hover) > img:not(:hover) {
    filter: blur(3px);
    scale: 0.98;
    transition: filter, scale 0.2s ease-in;
  }
}

.imagen:hover {
  transform: scale(1.1);
}

#informacion {
  background-color: rgb(var(--color-salmon));
  padding: 10px;
  border-radius: 10px;
}
#informacion article p {
  font-size: 18px;
  font-weight: bold;
}

#promociones {
  display: flex;
  flex-wrap: wrap;
}
#promociones p {
  background: rgb(var(--color-salmon-claro));
  color: white;
  max-width: 300px;
}
#promociones article {
  background: rgb(var(--color-salmon-claro));
  border-color: rgb(var(--color-salmon-claro));
  border-width: 10px;
  padding: 5px;
  border-radius: 10px;
  border: solid;
  color: rgb(var(--color-salmon-claro));
  text-align: center;
}

aside {
  background-color: rgb(var(--color-salmon-claro));
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.banner {
  width: 100%;
  height: auto;
}

.promo {
  align-items: center;
  width: 120;
  height: auto;
}

.oferta {
  width: 100%;
  height: auto;
}
