details {
  margin: 2rem 0;
  border: 2px solid rgb(var(--color-morado));
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgb(var(--color-rosa) / 0.1),
    rgb(var(--color-rosa) / 0.05)
  );
}

details:hover {
  background: linear-gradient(
    90deg,
    rgb(var(--color-rosa) / 0.2),
    rgb(var(--color-rosa) / 0.1)
  );
}
