form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  border-radius: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(var(--color-rosa) / 0.5);
  box-shadow: 0px 0px 4px rgb(var(--color-morado-azul) / 0.3),
    0px 0px 15px rgb(var(--color-rosa) / 0.3);

  > legend > h3 {
    text-align: center;
    font-size: 1.8rem;
    color: rgb(var(--color-morado-azul) / 0.8);
  }

  > p {
    font-size: 1.2rem;
    width: fit-content;
  }
}

input[type='color'] {
  width: 40px;
  height: 30px;
  border: none;
  padding: 0;
  background: none;

  &:hover {
    scale: 1.15;
  }
}

.obligatorio {
  position: relative;
  padding-inline: 1rem;

  &::after {
    content: '*';
    position: absolute;
    right: -5px;
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

input[type='radio'],
.boton {
  cursor: pointer;
}

input,
textarea,
select {
  border-radius: 5px;
  &:focus {
    outline: 2px solid rgb(var(--color-rosa));
    background-color: rgba(169, 169, 169, 0.3);
  }
}

#ojos,
#labios,
#unias {
  position: relative;
  overflow: hidden;
  z-index: 5;
  border: 0px;
}

#ojos::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(imagenes/banner_ojos_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(60%);
  z-index: -1;
  opacity: 0.3;
}

#labios::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(imagenes/pintalabios_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(50%);
  z-index: -1;
  opacity: 0.3;
}

#unias::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(imagenes/unas_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  filter: blur(4px);
  z-index: -1;
  opacity: 0.5;
}

.boton {
  position: relative;
  border: 2.3px solid rgb(var(--color-morado-azul));
  border-radius: 25px;
  padding: 5px;
  padding-inline: 18px;
  overflow: hidden;
  margin: 5px;

  background: linear-gradient(
    150deg,
    rgb(var(--color-morado-azul) / 0.5) 20%,
    rgb(var(--color-rosa) / 0.5),
    rgb(var(--color-salmon-claro) / 0.5)
  );

  box-shadow: 0px 0px 4px rgb(var(--color-morado-azul) / 0.5),
    0px 0px 15px rgb(var(--color-rosa) / 0.5);
}
